<header>
    <div class="logo">
     <img src="https://www.xteach.es/wp-content/uploads/2021/05/xteach_logo_color.png" alt="logo"/>
   </div>
</header>
<div class="title">
      <h2>Lista de alumnos</h2>
</div>
<div class="container">
    <table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Average Progress</th>
        <th scope="col">Average grade</th>
        <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        
         <% @users.each do |user| %>
         <tr>
            <td><%= user.name %> </td>
            <td><%= user.email %></td>
            <td><%= user.progress_average %></td>
            <td><%= user.grade_point_average %></td>
            <td><%= user.graduate %></td>
        </tr>
        <% end %>
    </tbody>
    </table>
 </div>